{<<"app">>,<<"boruta">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Boruta is the core of an OAuth/OpenID Connect provider managing authorization business rules.">>}.
{<<"elixir">>,<<"~> 1.11">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/ex_json_schema">>,<<"lib/ex_json_schema/validator">>,
  <<"lib/ex_json_schema/validator/error">>,
  <<"lib/ex_json_schema/validator/error/boruta_formatter.ex">>,
  <<"lib/boruta.ex">>,<<"lib/mix">>,<<"lib/mix/tasks">>,
  <<"lib/mix/tasks/boruta.gen.migration.ex">>,
  <<"lib/mix/tasks/boruta.gen.controllers.ex">>,<<"lib/boruta">>,
  <<"lib/boruta/openid.ex">>,<<"lib/boruta/application.ex">>,
  <<"lib/boruta/oauth">>,<<"lib/boruta/oauth/requests">>,
  <<"lib/boruta/oauth/requests/token_request.ex">>,
  <<"lib/boruta/oauth/requests/refresh_token_resquest.ex">>,
  <<"lib/boruta/oauth/requests/authorization_code_request.ex">>,
  <<"lib/boruta/oauth/requests/introspect_request.ex">>,
  <<"lib/boruta/oauth/requests/client_credentials_request.ex">>,
  <<"lib/boruta/oauth/requests/password_request.ex">>,
  <<"lib/boruta/oauth/requests/revoke_request.ex">>,
  <<"lib/boruta/oauth/requests/code_request.ex">>,
  <<"lib/boruta/oauth/requests/hybrid_request.ex">>,
  <<"lib/boruta/oauth/applications">>,
  <<"lib/boruta/oauth/applications/revoke_application.ex">>,
  <<"lib/boruta/oauth/applications/authorize_application.ex">>,
  <<"lib/boruta/oauth/applications/introspect_application.ex">>,
  <<"lib/boruta/oauth/applications/token_application.ex">>,
  <<"lib/boruta/oauth/json">>,<<"lib/boruta/oauth/json/schema.ex">>,
  <<"lib/boruta/oauth/application.ex">>,<<"lib/boruta/oauth/responses">>,
  <<"lib/boruta/oauth/responses/authorize.ex">>,
  <<"lib/boruta/oauth/responses/token.ex">>,
  <<"lib/boruta/oauth/responses/introspect.ex">>,
  <<"lib/boruta/oauth/bearer_token.ex">>,<<"lib/boruta/oauth/authorization">>,
  <<"lib/boruta/oauth/authorization/nonce.ex">>,
  <<"lib/boruta/oauth/authorization/scope.ex">>,
  <<"lib/boruta/oauth/authorization/code.ex">>,
  <<"lib/boruta/oauth/authorization/resource_owner.ex">>,
  <<"lib/boruta/oauth/authorization/access_token.ex">>,
  <<"lib/boruta/oauth/authorization/client.ex">>,
  <<"lib/boruta/oauth/error.ex">>,<<"lib/boruta/oauth/schemas">>,
  <<"lib/boruta/oauth/schemas/scope.ex">>,
  <<"lib/boruta/oauth/schemas/resource_owner.ex">>,
  <<"lib/boruta/oauth/schemas/scope">>,
  <<"lib/boruta/oauth/schemas/scope/authorize.ex">>,
  <<"lib/boruta/oauth/schemas/token.ex">>,
  <<"lib/boruta/oauth/schemas/client.ex">>,
  <<"lib/boruta/oauth/schemas/id_token.ex">>,<<"lib/boruta/oauth/contexts">>,
  <<"lib/boruta/oauth/contexts/scopes.ex">>,
  <<"lib/boruta/oauth/contexts/codes.ex">>,
  <<"lib/boruta/oauth/contexts/resource_owners.ex">>,
  <<"lib/boruta/oauth/contexts/clients.ex">>,
  <<"lib/boruta/oauth/contexts/access_tokens.ex">>,
  <<"lib/boruta/oauth/validator.ex">>,<<"lib/boruta/oauth/introspect.ex">>,
  <<"lib/boruta/oauth/revoke.ex">>,<<"lib/boruta/oauth/request.ex">>,
  <<"lib/boruta/oauth/token_generator.ex">>,<<"lib/boruta/oauth/request">>,
  <<"lib/boruta/oauth/request/authorize.ex">>,
  <<"lib/boruta/oauth/request/base.ex">>,
  <<"lib/boruta/oauth/request/token.ex">>,
  <<"lib/boruta/oauth/request/introspect.ex">>,
  <<"lib/boruta/oauth/request/revoke.ex">>,
  <<"lib/boruta/oauth/authorization.ex">>,<<"lib/boruta/openid">>,
  <<"lib/boruta/openid/applications">>,
  <<"lib/boruta/openid/applications/userinfo_application.ex">>,
  <<"lib/boruta/openid/applications/jwks_application.ex">>,
  <<"lib/boruta/openid/application.ex">>,<<"lib/boruta/oauth.ex">>,
  <<"lib/boruta/config.ex">>,<<"lib/boruta/repo.ex">>,<<"lib/boruta/utils">>,
  <<"lib/boruta/utils/basic_auth.ex">>,
  <<"lib/boruta/utils/token_generator.ex">>,<<"lib/boruta/adapters">>,
  <<"lib/boruta/adapters/scopes.ex">>,<<"lib/boruta/adapters/codes.ex">>,
  <<"lib/boruta/adapters/ecto">>,<<"lib/boruta/adapters/ecto/scopes.ex">>,
  <<"lib/boruta/adapters/ecto/oauth_mapper.ex">>,
  <<"lib/boruta/adapters/ecto/admin">>,
  <<"lib/boruta/adapters/ecto/admin/scopes.ex">>,
  <<"lib/boruta/adapters/ecto/admin/tokens.ex">>,
  <<"lib/boruta/adapters/ecto/admin/clients.ex">>,
  <<"lib/boruta/adapters/ecto/admin.ex">>,
  <<"lib/boruta/adapters/ecto/codes.ex">>,
  <<"lib/boruta/adapters/ecto/errors.ex">>,
  <<"lib/boruta/adapters/ecto/schemas">>,
  <<"lib/boruta/adapters/ecto/schemas/scope.ex">>,
  <<"lib/boruta/adapters/ecto/schemas/token.ex">>,
  <<"lib/boruta/adapters/ecto/schemas/client.ex">>,
  <<"lib/boruta/adapters/ecto/stores">>,
  <<"lib/boruta/adapters/ecto/stores/client_store.ex">>,
  <<"lib/boruta/adapters/ecto/stores/token_store.ex">>,
  <<"lib/boruta/adapters/ecto/stores/scope_store.ex">>,
  <<"lib/boruta/adapters/ecto/clients.ex">>,
  <<"lib/boruta/adapters/ecto/access_tokens.ex">>,
  <<"lib/boruta/adapters/clients.ex">>,
  <<"lib/boruta/adapters/access_tokens.ex">>,<<"lib/boruta/cache.ex">>,
  <<"priv">>,<<"priv/repo">>,<<"priv/repo/migrations">>,
  <<"priv/repo/migrations/20210721213916_add_nonce_to_tokens.exs">>,
  <<"priv/repo/migrations/20210926205845_add_revoke_and_introspect_to_clients_supported_grant_types.exs">>,
  <<"priv/repo/migrations/20201129013217_add_access_token_ttl_to_clients.exs">>,
  <<"priv/repo/migrations/20210720134125_add_default_to_tokens_scope.exs">>,
  <<"priv/repo/migrations/20210914115259_add_refresh_token_ttl_to_clients.exs">>,
  <<"priv/repo/migrations/20191127201313_add_revoked_at_to_tokens.exs">>,
  <<"priv/repo/migrations/20210926200753_add_public_revoke_to_clients.exs">>,
  <<"priv/repo/migrations/20220109161041_add_previous_token_to_oauth_tokens.exs">>,
  <<"priv/repo/migrations/20210904185118_add_public_refresh_token_to_clients.exs">>,
  <<"priv/repo/migrations/20200218193706_add_supported_grant_types_to_clients.exs">>,
  <<"priv/repo/migrations/20210805183302_add_default_to_clients_redirect_uris.exs">>,
  <<"priv/repo/migrations/20200704085527_rename_resource_owner_id_to_resource_owner_username_in_tokens.exs">>,
  <<"priv/repo/migrations/20191101112745_change_redirect_uri_to_redirect_uris.exs">>,
  <<"priv/repo/migrations/20210114202055_usec_timestamps.exs">>,
  <<"priv/repo/migrations/20210106124938_add_pkce_to_clients.exs">>,
  <<"priv/repo/migrations/20210721200708_add_id_token_ttl_to_clients.exs">>,
  <<"priv/repo/migrations/20210202095024_add_key_pair_to_clients.exs">>,
  <<"priv/repo/migrations/20210720134116_add_default_to_scopes_name.exs">>,
  <<"priv/repo/migrations/20210824204150_add_oauth_prefix.exs">>,
  <<"priv/repo/migrations/20210301123331_add_label_to_scopes.exs">>,
  <<"priv/repo/migrations/20191009182339_create_boruta.exs">>,
  <<"priv/boruta">>,<<"priv/boruta/migrations">>,
  <<"priv/boruta/migrations/20210824122016_openid_connect.ex">>,
  <<"priv/boruta/migrations/20211010220831_clients_public_revoke.ex">>,
  <<"priv/boruta/migrations/20210916124216_clients_refresh_tokens.ex">>,
  <<"priv/boruta/migrations/20220109171634_store_previous_token.ex">>,
  <<"priv/boruta/migrations/20210824001622_create_boruta.ex">>,
  <<"priv/templates">>,<<"priv/templates/boruta.gen.controllers">>,
  <<"priv/templates/boruta.gen.controllers/unit">>,
  <<"priv/templates/boruta.gen.controllers/unit/oauth">>,
  <<"priv/templates/boruta.gen.controllers/unit/oauth/controllers">>,
  <<"priv/templates/boruta.gen.controllers/unit/oauth/controllers/token_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/oauth/controllers/introspect_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/oauth/controllers/revoke_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/oauth/controllers/authorize_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/openid">>,
  <<"priv/templates/boruta.gen.controllers/unit/openid/controllers">>,
  <<"priv/templates/boruta.gen.controllers/unit/openid/controllers/token_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/openid/controllers/jwks_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/openid/controllers/userinfo_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/unit/openid/controllers/authorize_controller_test.exs.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers">>,
  <<"priv/templates/boruta.gen.controllers/controllers/oauth">>,
  <<"priv/templates/boruta.gen.controllers/controllers/oauth/introspect_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers/oauth/token_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers/oauth/authorize_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers/oauth/revoke_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers/openid">>,
  <<"priv/templates/boruta.gen.controllers/controllers/openid/jwks_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers/openid/userinfo_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/controllers/openid/authorize_controller.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/templates">>,
  <<"priv/templates/boruta.gen.controllers/templates/oauth">>,
  <<"priv/templates/boruta.gen.controllers/templates/oauth/error.html.eex">>,
  <<"priv/templates/boruta.gen.controllers/views">>,
  <<"priv/templates/boruta.gen.controllers/views/openid_view.ex.eex">>,
  <<"priv/templates/boruta.gen.controllers/views/oauth_view.ex.eex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Gitlab">>,<<"https://gitlab.com/patatoid/boruta_auth">>}]}.
{<<"name">>,<<"boruta">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"ecto_sql">>},
   {<<"name">>,<<"ecto_sql">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<">= 3.5.2">>}],
  [{<<"app">>,<<"ex_json_schema">>},
   {<<"name">>,<<"ex_json_schema">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.6">>}],
  [{<<"app">>,<<"joken">>},
   {<<"name">>,<<"joken">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}],
  [{<<"app">>,<<"jose">>},
   {<<"name">>,<<"jose">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.11">>}],
  [{<<"app">>,<<"nebulex">>},
   {<<"name">>,<<"nebulex">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}],
  [{<<"app">>,<<"phoenix">>},
   {<<"name">>,<<"phoenix">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}],
  [{<<"app">>,<<"plug">>},
   {<<"name">>,<<"plug">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}],
  [{<<"app">>,<<"postgrex">>},
   {<<"name">>,<<"postgrex">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<">= 0.0.0">>}],
  [{<<"app">>,<<"puid">>},
   {<<"name">>,<<"puid">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}],
  [{<<"app">>,<<"secure_random">>},
   {<<"name">>,<<"secure_random">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.5">>}],
  [{<<"app">>,<<"shards">>},
   {<<"name">>,<<"shards">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}]]}.
{<<"version">>,<<"2.1.2">>}.
